body, body button {
    color: #C5C5C5;
}

/* table */

.table-car {
    grid-column: 7 / 12;
    grid-row: 2 / 11;
    display: flex;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    max-height: 100%;       
    overflow-y: auto;        
  }
  
  .table-car table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
  }
  
  .table-car th {
    font-size: 1.5rem;
    height: 2rem;
    padding: 0.5rem;
    text-align: center; 
    background-color: #E280BE;
    color: white;
    border: 5px solid white; 
  }
  
  .table-car td {
    font-size: 1.2rem;
    height: 2rem;
    padding: 0.5rem;
    text-align: left;
    border: none; 
    border-bottom: 2px solid #E280BE; 
  }
  
    .aspirante-cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .actions {
        display: flex;
        gap: 0.5rem;
      }
      
      .actions button {
        all: unset;
        cursor: pointer;
      }
      
      .actions img {
        height: 1.7rem;
        width: auto;
      }

      .fade-img {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }
      
      .fade-inactive {
        opacity: 0.3;
      }
      
/* form */

.form-car {
  grid-column: 2 / 6;
  grid-row: 2 / auto;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(197, 197, 197, 0.8);
  transition: height 0.4s ease;
}

.form-car.expanded {
  grid-row: 2 / auto + 2;
}

form {
  width: 100%;
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-button img {
  height: 2rem;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-icon {
  height: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

input {
  width: 65%;
  height: 2rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: 3px solid #ccc;
  border-radius: 15px;
}

.form-buttons-container {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: scaleY(0.8);
  transform-origin: top;
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.form-buttons-container.visible {
  max-height: 200px;
  opacity: 1;
  transform: scaleY(1);
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: auto;
  margin-right: 2rem;
}

.form-buttons button {
  cursor: pointer;
}

.form-edit {
  border: none;
  background-color: transparent;
}

.form-create {
  font-size: 1.5rem;
  border: 3px solid #40CEE4;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 2rem;
  padding: 0.5rem;
}

.form-cancel {
  font-size: 1.5rem;
  border: 3px solid #C6007E;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 2rem;
}


/* footer */

.footer {
    grid-column: 2 / 12;
    grid-row: 15 / 17;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: #40CEE4;
    z-index: 2; 
  }
