/* home.css */

  .grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(17, 1fr);
    position: relative;
    overflow: hidden;
  }
  
  .logo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
  }

  .welcome-text {
    grid-column: 3 / 11;
    grid-row: 5 / 7;
    font-size: 7rem;
    font-weight: bold;
    color: #00249C;
    text-align: center;
    position: relative;
    z-index: 2; 
    user-select: none;
  }

  .image {
    grid-column: 6 / 8;
    grid-row: 4 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    user-select: none;
  }
  
  .image img {
    animation: float 3s ease-in-out infinite;
  }
  
  .name-text {
    grid-column: 1 / 13;
    grid-row: 5 / 7;
    font-size: 4.5em;
    font-weight: bold;
    color: #00249C;
    text-align: center;
    position: relative;
    -webkit-text-stroke: 2px white;
    z-index: 4;
    margin-top: 12rem;
    user-select: none;
  }
  
  .footer {
    grid-column: 2 / 12;
    grid-row: 15 / 17;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: #40CEE4;
    z-index: 2; 
  }
  
  .footer a {
    text-decoration: none;
    font-weight: 500;
    color: #40CEE4;
    user-select: none;
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }

  .side-curved-animation {
    position: absolute;
    left: 100%;
    width: 25%;
    height: 100%;
    border-radius: 50% 0 0 50%;
    animation: mover 5s linear infinite;
    box-shadow: -2rem 0 2rem -1px rgba(197, 197, 197, 0.32);

    z-index: 1; 
  }
  
  @keyframes mover {
    0% {
      left: 100%;
    }
    100% {
      left: -25%; 
    }
  }
    