/* index.css */

html {
  scroll-behavior: auto; /* o smooth */
  scroll-padding-top: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .page-wrapper {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
  
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }
  
  .page-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  section {
    scroll-snap-align: start;
    height: 100vh;
  }
